<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs home page</title>
</head>
<body>
    <h1>this is a home page</h1>
    <h3><%=["hey","hello","jaiYeshu"][2]%></h3>
    <h3><%= "apna college".toUpperCase() %></h3>
    <h3><%= 3*17 %></h3>
    <!-- code inside h3 is similar to ${ }, but of EJS ie <%= %> which gives the value if code inside-->
    <p>rendered by ejs</p>
    <%- include("includes/footer.ejs") %>
</body>
</html>